
.card {
  background-color: antiquewhite;
  padding: 1em;
  margin: 10px;
  border-radius: 20px;
}

.quote{
  text-align: center; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.author{
  text-align: right;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainpg{
  background-color: aqua;
  height: 540pt;
  width: 460pt;
  border-radius: 10px;
  text-align: center;
}

